<div class="container screen-space">
    <form method="POST" action="/collections/store">
        <div class="mb-3">
            <label for="category" class="form-label">Thể loại</label>
            <input type="text" class="form-control" id="category" category="category">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>