<div class="container-fluid my-5 ms-3 me-3">
    <div class="row">
        <div class="col-xl-4 pe-3">
            <div class="text-uppercase">
               <h6 >Giới thiệu</h6>
                <P><b>Thewolf - pr bằng giá trị cốt lõi </b></P> 
            </div>
            
            <p class="text-size-sm">Trong thời trang, sự bền vững luôn là yếu tố hàng đầu. Nó là cả một quá trình, từ việc bắt đầu tìm kiếm các nguồn cung cấp nguyên 
                liệu cho đến việc tạo ra những sản phẩm tới tay khách hàng. 
                Bằng cách tránh né cái quan điểm “thời trang nhanh gọn” và bắt tay tập trung vào những dây chuyền sản xuất sản phẩm một cách kĩ lưỡng 
                đã giúp chúng tôi có thể tạo nên sự khác biệt.</p>
        </div>
        <div class="col-xl-2 px-2 list-group list-group-flush float-start">
            <h6 class="text-uppercase">Chính sách</h6>
            <P>
                <ul class="list-unstyled text-size-sm">
                    <li><a href="" class="text-decoration-none text-hover">Chính sách bảo hành</a></li>
                    <li><a href="" class="text-decoration-none text-hover">Chính sách đổi hàng</a></li>
                    <li><a href="" class="text-decoration-none text-hover">Phương thức thanh toán</a></li>
                    <li><a href="" class="text-decoration-none text-hover">hướng dẫn chọn size</a></li>
                    <li><a href="" class="text-decoration-none text-hover">Hệ thống cửa hàng</a></li>
                </ul>
                
        </div>
        <div class="col-xl-3">
            <h6 class="text-uppercase">Liên hệ</h6>
            <span class="text-size-sm">
                <p class="fs-6"><i class="bi bi-geo-alt"></i> TPHCM:</p>
                <ul class="">
                    <li>79 Nguyễn Thượng Hiền, phường 5, Quận 3</li>
                    <li> 267 Quang Trung, phường 10, Quận Gò Vấp</li>
                    <i class="bi bi-telephone"></i> Hotline: 0936 253 007 - 0888 543 919
                </ul>
            </span>
            <span class="text-size-sm">
                <p class="fs-6 text-uppercase"><i class="bi bi-geo-alt"></i> Đà Nẵng:</p>
                <ul class="">
                    <li>218 Lê Duẩn, P.Tân Chính, Q.Thanh Khê, Đà Nẵng</li>
                    <i class="bi bi-telephone"></i> Hotline: 0935 837 110
                </ul>
                <p><i class="bi bi-send"></i> thewolfvietnam@gmail.com</p>
            </span>
            
            
        </div>
        <div class="col-xl-3">
            <h6 class="text-uppercase text-center">social</h6>
            <p class="text-center">
                <button class="btn-lg"><i class="bi bi-facebook"></i></button>
                <button class="btn-lg"><i class="bi bi-instagram"></i></button>
                <button class="btn-lg"><i class="bi bi-youtube"></i></button>
                <button class="btn-lg"><i class="bi bi-tiktok"></i></button>
            </p>
        </div>
    </div>
</div>