<div class="header container-fluid fixed-top pt-2">
  <div class="container-fluid text-center">
    {{!-- logo --}}
    <a href="/home">
        <img src="/img/logo2.png" alt="" height="50">
    </a>
    {{!-- cart product --}}
    <a href=""><i class="bi bi-bag text-dark float-end ms-3 mt-4"></i></a>
    {{!-- Search --}}
    <a href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-search text-dark float-end ms-3 mt-4"></i></a>
    <div class="offcanvas offcanvas-end"  id="offcanvasRight">
      <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Tìm kiếm</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="container-fluid screen-space">
          <form method="GET">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" name="q" placeholder="Tìm kiếm sản phẩm...">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
              </div>
          </form>
        </div>
      </div>
    </div>
    {{!-- Login icon --}}
    <a href="/users/show"><i class="bi bi-person-circle text-dark float-end ms-3 mt-4"></i></a>
  </div>
  {{!-- Navbar --}}
  <div class="container text-uppercase"><nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">

          {{!-- TẤT CẢ SẢN PHẨM--}}
          <li class="nav-item">
              <a class="nav-link fs-6" href="/allproduct" role="button"  aria-expanded="false">
                  Tất cả sản phẩm
              </a>
          </li>

          <!-- GIÀY NAM -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-6" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Giày nam
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Chelsea boot</a></li>
                <li><a class="dropdown-item" href="#">Derby</a></li>
                </ul>
            </li>

          <!-- GIÀY NỮ -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-6" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Giày nữ
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Chelsea boot</a></li>
                    <li><a class="dropdown-item" href="#">Derby</a></li>
                </ul>
            </li>
          <!-- LIÊN HỆ -->
            <li class="nav-item">
                <a class="nav-link fs-6" href="#">Liên hệ</a>
            </li>
          {{!-- another --}}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fs-6" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Another
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/me/stored/collections">Sản phẩm của shop</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav></div>
</div>

<script>
    const navbarElement = document.querySelector('.header')
    

    window.addEventListener('scroll', function() {
      if(window.scrollY >= 400)
      {
        navbarElement.classList.add('navbar-scrolled')
      }
      else if(window.scrollY < 300)
      {
        navbarElement.classList.remove('navbar-scrolled')
      }
    })
</script>