<div class="container screen-space">
    <h2 class="text-uppercase">Contact</h2>
    <div class="row">
        <ul>
            <li>Hotline</li>
            <li>IG: @Kanesshoes</li>
            <li>FB: fb.com/Kanesshoes</li>
            <li>Store: 123 Điện Biên Phủ, P.17, Q. Bình Thạnh, TP.HCM.</li>
        </ul>
    </div>
</div>