<div class="container-fluid screen-space pt-5">
    <div class="row">
        <div class="col fs-1 fw-bolder border-bottom">
            <div class="my-5 login-text-header">Đăng nhập</div>
        </div>
        
        <div class="row col-lg-5 pb-5 border-start border-bottom">
            <form method="POST" class="my-5 form-group" id="login-form">
                <div class="mb-3">
                    <label for="email-input" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email-input"  name="q">
                </div>
                <div class="mb-3">
                    <label for="password-input" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-input">
                </div>
                <div class="mb-3 form-check">
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="checkbox-remember">
                            <label class="form-check-label" for="checkbox-label">Remember me</label>
                        </div>
                        <div class="col">
                            <p class="float-end">Bạn chưa có tài khoản?<a href="">Đăng ký</a></p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
    </div>
</div>
